[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
notebook = "~=7.1.0"
pyspark = "~=3.5.0"
import-java = "~=0.6"
numpy = "~=1.26.4"
pandas = "~=2.2.1"
matplotlib = "~=3.8.3"
scikit-learn = "~=1.4.1.post1"

[dev-packages]

[requires]
python_version = "3.11"
